@import "fonts";

body {
  background-color: #30233a;
  color: #b3b3b3;
  font-family: 'Edmonsans', 'Open Sans', 'Helvetica', sans-serif;
  font-size: 12px
}

.name{
  width: 640px;
  font-size: 58px;
  margin: 0;
}

.tagline{
  font-size: 16px;
  margin: -10px 3px 0;
  font-family: 'Edmonsans', 'Open Sans', 'Helvetica', sans-serif;
  font-weight: 300;

}

.ux {
  color: #1b1523;
  margin: 0 15px;
}

.wrapper {
  margin: 100px auto;
  max-width: 600px;
  background-image: url('images/silhouette.png');
  background-repeat: no-repeat;
  background-position: top right;
}

.links-wrapper {
  margin: 20px auto;
  display: table;
  width: 360px;

  .links {
    padding: 0;
    display: table-row;

    li {
      width: 20%;
      display: table-cell;

      a {
        background-position: top center;
        background-repeat: no-repeat;
        display: block;
        height: 51px;
        text-decoration: none;
        text-align: center;
        color: #b3b3b3;

        &:hover {
          background-position-y: -60px;

          .title {
            opacity: 1;
          }
        }
      }
    }
  }
}

.me {
  background-image: url('images/link-me.png');
}

.portfolio {
  background-image: url('images/link-portfolio.png');
}

.email {
  background-image: url('images/link-email.png');
}

.twitter {
  background-image: url('images/link-twitter.png');
}

.linkedin {
  background-image: url('images/link-linkedin.png');
}

.title {
  display: block;
  padding-top: 60px;
  opacity: 0;
}
